* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  width: 864px;
  margin: 0 auto;
  font-family: "Nunito", sans-serif;
  color: black;
  background: linear-gradient(#bdc3c780, #2c3e507c);
}

.header {
  height: 300px;
  clip-path: polygon(0 0, 100% 0%, 100% 81%, 0 100%);
  background: linear-gradient(#2b5876, #4e4376);
  color: white;
  display: flex;
}

.image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: solid 5px white;
  margin: 20px;
  margin-top: 40px;
}

.main-div {
  position: relative;
}

#shadow-hover {
  position: relative;
  width: 864px;
  height: 230vh;
  background: white;
  border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
  box-shadow: 20px 20px rgba(0, 0, 0, 0.15);
  transition: all 0.4s ease;
}
#shadow-hover:hover {
  border-radius: 0% 0% 50% 50% / 0% 0% 5% 5%;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.25);
}

.personal-info-div {
  margin: 20px;
}

.personal-info-div h1 {
  font-size: 42px;
}

.personal-info-div h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.personal-info-div a {
  color: white;
  text-decoration: underline;
  font-size: 18px;
  padding: 5px;
}
.personal-info-div p {
  color: white;
  font-size: 22px;
  padding: 5px;
}

main {
  position: absolute;
  top: 300px;
  width: 864px;
}

.main-content-div {
  color: black;
  margin-left: 20px;
  padding: 20px;
}

.main-content-div h1 {
  margin-bottom: 15px;
}

.main-content-div h3 {
  margin: 0 auto;
  margin-bottom: 20px;
}

.mern {
  width: 250px;
  margin-left: 20px;
}

.savoir-faire {
  width: 600px;
  padding: 20px;
  font-size: 18px;
  margin-left: 60px;
}

.savoir-faire p {
  margin-bottom: 10px;
}
.other-technos img {
  width: 50px;
  margin: 10px;
}
.experiences h4 {
  margin-top: -10px;
  margin-bottom: 10px;
}

.agorique {
  width: 100px;
}

.details {
  width: 600px;
  margin-left: 40px;
}

.details p {
  margin-bottom: 5px;
}

.formations {
  margin-top: 20px;
}

.reacteur {
  width: 50px;
  margin-left: 10px;
}

.interests h1 {
  margin-top: 20px;
  margin-bottom: 20px;
}
