@tailwind base;
@tailwind components;
@tailwind utilities;

.font-nunito {
  font-family: 'Nunito', sans-serif;
}

.header-gradient {
    background: linear-gradient(#2b5876, #4e4376);
}

.clip-header {
  clip-path: polygon(0 0, 100% 0%, 100% 93%, 0 100%);
}

.decoration-line:before {
  position: absolute;
  top: 14px;
  left: -38px;
  width: 30px;
  height: 2px;
  background: linear-gradient(to right, #2b5876, #4e4376);
  content: "";
}
